
.container {
  padding: 0px;
  min-width: 0;
  margin-left: 0;
  margin-right: 0;


  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    
    
   
    .row {
      min-width: 0px;
      .column, .columns {
          padding: 0;
        }
    }

    
    .column:first-child, .columns:first-child, .alpha {
      @include breakpoint(tall) {
        margin-left: 0px;
      }
    }
    .column:last-child, .columns:last-child {
      margin-right: 0;
      /*float: none;*/
    }

    .column.omega, .columns.omega {
      @include breakpoint(tall) {
        float: right;
      }
    } 
    
    .column, .columns {
      width: auto;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      @include breakpoint(tall) {
        margin-left: 2.127663%;
        float: left;
        min-height: 1px;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
   

    
  

  @include breakpoint(tall) {
      margin: 0 auto;
      max-width: 960px;
      min-width: 870px;


      .one.columns {
        width: 4.255326%;
      }
      .two.columns {
        width: 10.638315%;
      }
      .three.columns {
        width: 17.021304%;
      }
      .four.columns {
        width: 23.404293%;
      }
      .five.columns {
        width: 29.787282%;
      }
      .six.columns {
        width: 36.170271%;
      }
      .seven.columns {
        width: 42.55326%;
      }
      .eight.columns {
        width: 48.936249%;
      }
      .nine.columns {
        width: 55.319238%;
      }
      .ten.columns {
        width: 61.702227%;
      }
      .eleven.columns {
        width: 68.085216%;
      }
      .twelve.columns {
        width: 74.468205%;
      }
      .thirteen.columns {
        width: 80.851194%;
      }
      .fourteen.columns {
        width: 87.234183%;
      }
      .fifteen.columns {
        width: 93.617172%;
      }
      .sixteen.columns {
        width: 100%;
      }
    } 

  }

}



.clearfix {
      clear: both;
}



